.access-icon {
    position: relative;
    display: inline-block;
}

.access-icon:hover .access-tooltip {
    display: block;
}

.access-tooltip {
    display: none;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 999;
}

.update-button:hover {
    background-color: rgb(207, 207, 207);
}

.custom-underline-text {
    margin-left: 16px;
    position: relative;
}

.custom-underline-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1.5px;
    background-color: violet;
}

.card {
    padding: 8px;
}

.des-input {
    height: 350px;
    width: 100%;
    min-width: 0;
    overflow: auto;
}

.btn-primary {
    width: 50%;
    background-color: rgb(176, 13, 176);
    font-size: 18px;

    &:hover {
        background-color: #500064;
    }
}