.container {
    // background-color: rgb(235, 235, 235);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    width: 90%;

    &:hover {
        background-color: rgb(235, 235, 235);
    }
}

.btn {

    &:hover {
        background-color: #500064;
        color: white;
    }
}

.btn:hover .follow-icon {
    filter: brightness(0) invert(1);
}

.text-name {
    font-size: 20px;
    font-family: "Roboto";
}